<div id="homeScreen" class="screen home-screen">
    <div class="home-screen__frame">
        <div class="home-screen__layout">
            <button id="homeMuteButton" class="btn btn--icon home-screen__mute" type="button" aria-label="Ton umschalten" aria-pressed="false" title="Ton umschalten">🔊</button>
            <button id="homeFullscreenButton" class="btn btn--icon home-screen__fullscreen fullscreen-btn" type="button" data-fullscreen-btn aria-label="Vollbild" title="Vollbild">⛶</button>
            <p class="home-screen__tagline">Hilf Pepe durch die Wüste!</p>
            <div class="home-screen__footer">
                <div class="home-screen__actions">
                    <button id="startButton" class="btn btn--primary" type="button">Spiel starten</button>
                    <button id="helpButton" class="btn btn--secondary-inline" type="button">Spielanleitung</button>
                    <button id="controlsButton" class="btn btn--secondary-inline" type="button">Steuerung</button>
                </div>
                <a href="impressum.html" class="home-screen__link">Impressum</a>
            </div>
        </div>
    </div>
</div>
